.category {
  display: grid;
  gap: var(--space-700);
  grid-template-columns: 1fr;
  
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.cat-title {
  text-transform: capitalize;
  margin-block: var(--space-900);
}